# Exclude environment variables
.env
# Exclude the SQLite database
flights.db
roadmap.html

# Optional: Exclude any temporary WAL (Write-Ahead Logging) files SQLite creates
flights.db-journal
flights.db-shm
flights.db-wal

# Virtual Airline
Virtual Airline data - */

# Python
backend/__pycache__/
*.pyc

# Simconnect
src/SimpleSimConnector
backend/app-backup.py
backend/simconnect-state.json"/backend/simconnect-state.json" 
